body {
	margin-top: 0px;
	background: #fff;
}

.half-width {
	width: 50%;
}

.full-width {
	width: 100%;
}

.centered,
.ui.button.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.vertically-spaced,
.ui.button.vertically-spaced {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Page specific */
.confirm-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	color: #FFF;
	padding: 10% 0;
}

/* Overrides */
.ui.card, .ui.cards>.card {
	width: 100%;
}