body {
	margin-top: 0px;
	background: #fff;
}

h1 {
	margin: 0;
}

.half-width {
	width: 50%;
}

.full-width-padded {
	width: 100%;
	padding: 50px;
}

.two-col-split {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.two-col-split > div {
	flex: 1 1 400px;
	padding: 10px;
}

/*.two-col-split > div:first-child {
	border-right: 3px solid rgba(0, 0, 0, 0.1);
	margin-right: 20px;
}*/

.centered,
.ui.button.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.vertically-spaced,
.ui.button.vertically-spaced {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Page specific */
.confirm-form {
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10% 0;
}

/* Overrides */
.ui.menu {
	margin-bottom: 0;
}

td {
	padding-left: 2px;
}

.noembed-embed-inner img {
	width: 200px !important;
	height: 200px !important;
	border-radius: 2px;
}

.noembed-meta-info {
	font-size: 12px;
}

.favicon {
	display: none;
}
